<header xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeLeaf.org"
        th:fragment="header">
    <div class="header__top">
        <div>
            <a href="/" class="header__logo">
                <i class="iconnewglobal-logo"></i>
            </a>
            <form action="/tim-kiem" onsubmit="return suggestSearch(event);" class="header__search">
                <input id="skw" type="text" class="input-search" onkeyup="suggestSearch(event);" placeholder="Bạn tìm gì..." name="key" autocomplete="off" maxlength="100">
                <button type="submit">
                    <i class="icon-search"></i>
                </button>
                <div id="search-result"></div>
            </form>
            <a href="/lich-su-mua-hang" class="name-order">
                Tài khoản & Đơn hàng
            </a>
            <a href="/cart" class="header__cart menu-info">
                <div class="box-cart">
                    <i class="iconnewglobal-cart"></i>
                    <span class="cart-number"></span>
                </div>
                <span>Giỏ hàng</span>
            </a>
        </div>
    </div>
    <div class="header__main">
        <div>
            <ul class="main-menu">
                <li class="">
                    <a href="/dtdd">
                        <i>
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn//content/icon-phone-96x96-2.png" alt="&#x110;i&#x1EC7;n tho&#x1EA1;i" />
                        </i>
                        <span class="">&#x110;i&#x1EC7;n tho&#x1EA1;i</span>
                    </a>
                </li>
                <li class="">
                    <a href="/laptop-ldp">
                        <i>
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn//content/icon-laptop-96x96-1.png" alt="Laptop" />
                        </i>
                        <span class="">Laptop</span>
                    </a>
                </li>
                <li class="">
                    <a href="/may-tinh-bang">
                        <i>
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn//content/icon-tablet-96x96-1.png" alt="Tablet" />
                        </i>
                        <span class="">Tablet</span>
                    </a>
                </li>
                <li class="has-list">
                    <a href="/phu-kien">
                        <i>
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn//content/icon-phu-kien-96x96-1.png" alt="Ph&#x1EE5; ki&#x1EC7;n" />
                        </i>
                        <span class="has-child">Ph&#x1EE5; ki&#x1EC7;n</span>
                    </a>
                    <div class="navmwg ">
                        <div class="item-child ">
                            <strong>
                                Ph&#x1EE5; ki&#x1EC7;n di &#x111;&#x1ED9;ng
                            </strong>
                            <a href="/sac-dtdd"><h3>S&#x1EA1;c d&#x1EF1; ph&#xF2;ng</h3></a>
                            <a href="/sac-cap"><h3>S&#x1EA1;c, c&#xE1;p</h3></a>
                            <a href="/hub-chuyen-doi"><h3>Hub chuy&#x1EC3;n &#x111;&#x1ED5;i</h3></a>
                            <a href="/op-lung-flipcover"><h3>&#x1ED0;p l&#x1B0;ng &#x111;i&#x1EC7;n tho&#x1EA1;i</h3></a>
                            <a href="/op-lung-may-tinh-bang"><h3>&#x1ED0;p l&#x1B0;ng m&#xE1;y t&#xED;nh b&#x1EA3;ng</h3></a>
                            <a href="/mieng-dan-man-hinh"><h3>Mi&#x1EBF;ng d&#xE1;n</h3></a>
                            <a href="/tui-dung-airpods"><h3>T&#xFA;i &#x111;&#x1EF1;ng AirPods</h3></a>
                            <a href="/airtag"><h3>AirTag, V&#x1ECF; b&#x1EA3;o v&#x1EC7; AirTag</h3></a>
                            <a href="/phu-kien-thong-minh"><h3>B&#xE0;n ph&#xED;m, b&#xFA;t tablet</h3></a>
                            <a href="/gia-do-dien-thoai#c=6862&amp;p=172321,172319,172320&amp;o=8&amp;pi=0"><h3>Gi&#xE1; &#x111;&#x1EE1; &#x111;i&#x1EC7;n tho&#x1EA1;i</h3></a>
                        </div>
                        <div class="item-child ">
                            <strong>
                                Thi&#x1EBF;t b&#x1ECB; &#xE2;m thanh
                            </strong>
                            <a href="/tai-nghe-bluetooth"><h3>Tai nghe Bluetooth</h3></a>
                            <a href="/tai-nghe-co-day"><h3>Tai nghe d&#xE2;y</h3></a>
                            <a href="/loa-ldp"><h3>Loa</h3></a>
                            <a href="/micro-cac-loai"><h3>Micro</h3></a>
                        </div>
                        <div class="item-child ">
                            <strong>
                                Thi&#x1EBF;t b&#x1ECB; nh&#xE0; th&#xF4;ng minh
                            </strong>
                            <a href="/camera-giam-sat?g=camera-giam-sat"><h3>Camera trong nh&#xE0;</h3></a>
                            <a href="/camera-giam-sat-camera-ngoai-troi"><h3>Camera ngo&#xE0;i tr&#x1EDD;i</h3></a>
                            <a href="/may-chieu"><h3>M&#xE1;y chi&#x1EBF;u</h3></a>
                            <a href="/o-cam-thong-minh"><h3>&#x1ED4; c&#x1EAF;m, b&#xF3;ng &#x111;&#xE8;n th&#xF4;ng minh</h3></a>
                        </div>
                        <div class="item-child ">
                            <strong>
                                Th&#x1B0;&#x1A1;ng hi&#x1EC7;u h&#xE0;ng &#x111;&#x1EA7;u
                            </strong>
                            <a href="/phu-kien/apple"><h3>Apple</h3></a>
                            <a href="/phu-kien/samsung"><h3>Samsung</h3></a>
                            <a href="/phu-kien/imou"><h3>Imou</h3></a>
                            <a href="/phu-kien/baseus"><h3>Baseus</h3></a>
                            <a href="/phu-kien/jbl"><h3>JBL</h3></a>
                            <a href="/phu-kien/anker"><h3>Anker</h3></a>
                            <a href="/phu-kien/xmobile"><h3>Xmobile</h3></a>
                        </div>
                        <div class="item-child ">
                            <strong>
                                Ph&#x1EE5; ki&#x1EC7;n laptop
                            </strong>
                            <a href="/chuot-may-tinh"><h3>Chu&#x1ED9;t m&#xE1;y t&#xED;nh</h3></a>
                            <a href="/ban-phim"><h3>B&#xE0;n ph&#xED;m</h3></a>
                            <a href="/thiet-bi-mang"><h3>Thi&#x1EBF;t b&#x1ECB; m&#x1EA1;ng</h3></a>
                            <a href="/tui-chong-soc"><h3>Balo, t&#xFA;i ch&#x1ED1;ng s&#x1ED1;c</h3></a>
                            <a href="/gia-do-dien-thoai?g=de-laptop-macbook"><h3>Gi&#xE1; &#x111;&#x1EE1; laptop</h3></a>
                            <a href="/phan-mem"><h3>Ph&#x1EA7;n m&#x1EC1;m</h3></a>
                        </div>
                        <div class="item-child ">
                            <strong>
                                Thi&#x1EBF;t b&#x1ECB; l&#x1B0;u tr&#x1EEF;
                            </strong>
                            <a href="/o-cung-di-dong"><h3>&#x1ED4; c&#x1EE9;ng di &#x111;&#x1ED9;ng</h3></a>
                            <a href="/the-nho-dien-thoai"><h3>Th&#x1EBB; nh&#x1EDB;</h3></a>
                            <a href="/usb"><h3>USB</h3></a>
                        </div>
                        <div class="item-child ">
                            <strong>
                                Ph&#x1EE5; ki&#x1EC7;n kh&#xE1;c
                            </strong>
                            <a href="/pin"><h3>Pin ti&#x1EC3;u</h3></a>
                            <a href="/tay-cam-choi-game"><h3>Tay c&#x1EA7;m ch&#x1A1;i game</h3></a>
                            <a href="/phu-kien-oto"><h3>Ph&#x1EE5; ki&#x1EC7;n &#xF4; t&#xF4;</h3></a>
                        </div>
                    </div>
                </li>
                <li class="">
                    <a href="/dong-ho-thong-minh-ldp">
                        <i>
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn//content/icon-smartwatch-96x96-1.png" alt="Smartwatch" />
                        </i>
                        <span class="">Smartwatch</span>
                    </a>
                </li>
                <li class="">
                    <a href="/dong-ho">
                        <i>
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn//content/watch-icon-96x96.png" alt="&#x110;&#x1ED3;ng h&#x1ED3;" />
                        </i>
                        <span class="">&#x110;&#x1ED3;ng h&#x1ED3;</span>
                    </a>
                </li>
                <li class="has-list">
                    <a href="/may-doi-tra">
                        <i>
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn//content/icon-header-may-cu-30x30.png" alt="M&#xE1;y c&#x169;, Thu c&#x169;" />
                        </i>
                        <span class="has-child">M&#xE1;y c&#x169;, Thu c&#x169;</span>
                    </a>
                    <div class="navmwg limit-width">
                        <div class="item-child no-child-final">
                            <a href="/may-doi-tra"><h3>M&#xE1;y c&#x169; gi&#xE1; r&#x1EBB;</h3></a>
                        </div>
                        <div class="item-child no-child-final">
                            <a href="/thu-cu-doi-moi"><h3>Thu c&#x169; &#x111;&#x1ED5;i m&#x1EDB;i</h3></a>
                        </div>
                    </div>
                </li>
                <li class="has-list">
                    <a href="/pc-may-in">
                        <i>
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn//content/icon-pc-96x96.png" alt="PC, M&#xE1;y in" />
                        </i>
                        <span class="has-child">PC, M&#xE1;y in</span>
                    </a>
                    <div class="navmwg limit-width">
                        <div class="item-child no-child-final">
                            <a href="/may-in"><h3>M&#xE1;y in</h3></a>
                        </div>
                        <div class="item-child no-child-final">
                            <a href="/muc-in"><h3>M&#x1EF1;c in</h3></a>
                        </div>
                        <div class="item-child no-child-final">
                            <a href="/man-hinh-may-tinh"><h3>M&#xE0;n h&#xEC;nh m&#xE1;y t&#xED;nh</h3></a>
                        </div>
                        <div class="item-child no-child-final">
                            <a href="/may-tinh-de-ban"><h3>M&#xE1;y t&#xED;nh &#x111;&#x1EC3; b&#xE0;n</h3></a>
                        </div>
                        <div class="item-child no-child-final">
                            <a href="/may-choi-game-cam-tay"><h3>M&#xE1;y ch&#x1A1;i game c&#x1EA7;m tay</h3></a>
                        </div>
                        <div class="item-child no-child-final">
                            <a href="/phan-mem"><h3>Ph&#x1EA7;n m&#x1EC1;m</h3></a>
                        </div>
                    </div>
                </li>
                <li class="">
                    <a href="/sim-so-dep">
                        <span class="">Sim, Th&#x1EBB; c&#xE0;o</span>
                    </a>
                </li>
                <li class="has-list">
                    <a href="/tien-ich/thanh-toan-tra-gop">
                        <span class="has-child">D&#x1ECB;ch v&#x1EE5; ti&#x1EC7;n &#xED;ch</span>
                    </a>
                    <div class="navmwg ">
                        <div class="item-child ">
                            <strong>
                                Thanh to&#xE1;n h&#xF3;a &#x111;&#x1A1;n
                            </strong>
                            <a href="/tien-ich/thanh-toan-tra-gop"><h3>&#x110;&#xF3;ng ti&#x1EC1;n tr&#x1EA3; g&#xF3;p</h3></a>
                            <a href="/tien-ich/thanh-toan-tien-dien"><h3>&#x110;&#xF3;ng ti&#x1EC1;n &#x111;i&#x1EC7;n</h3></a>
                            <a href="/tien-ich/thanh-toan-tien-nuoc"><h3>&#x110;&#xF3;ng ti&#x1EC1;n n&#x1B0;&#x1EDB;c</h3></a>
                            <a href="/tien-ich/thanh-toan-internet-fpt"><h3>&#x110;&#xF3;ng ti&#x1EC1;n NET FPT</h3></a>
                            <a href="/tien-ich/thanh-toan-internet-vnpt"><h3>&#x110;&#xF3;ng ti&#x1EC1;n net, c&#xE1;p VNPT</h3></a>
                            <a href="/tien-ich/thanh-toan-ve-tau-xe"><h3>V&#xE9; t&#xE0;u, xe, m&#xE1;y bay</h3></a>
                        </div>
                        <div class="item-child ">
                            <strong>
                                T&#xE0;i ch&#xED;nh - B&#x1EA3;o hi&#x1EC3;m
                            </strong>
                            <a href="/tien-ich/bao-hiem-o-to-xe-may"><h3>Mua b&#x1EA3;o hi&#x1EC3;m xe m&#xE1;y, &#xF4; t&#xF4;</h3></a>
                            <a href="/tien-ich/thanh-toan-bao-hiem"><h3>&#x110;&#xF3;ng ti&#x1EC1;n b&#x1EA3;o hi&#x1EC3;m</h3></a>
                            <a href="/tien-ich/goi-cuoc-truyen-hinh"><h3>Mua g&#xF3;i truy&#x1EC1;n h&#xEC;nh</h3></a>
                        </div>
                        <div class="item-child ">
                            <strong>
                                Ti&#x1EC7;n &#xED;ch vi&#x1EC5;n th&#xF4;ng
                            </strong>
                            <a href="/tien-ich/goi-cuoc-data"><h3>Mua g&#xF3;i data 3G, 4G</h3></a>
                            <a href="/tien-ich/nap-tien-dien-thoai"><h3>N&#x1EA1;p ti&#x1EC1;n tr&#x1EA3; tr&#x1B0;&#x1EDB;c</h3></a>
                            <a href="/tien-ich/nap-tien-dien-thoai-tra-sau"><h3>N&#x1EA1;p ti&#x1EC1;n tr&#x1EA3; sau</h3></a>
                            <a href="/tien-ich/the-cao-game"><h3>Th&#x1EBB; c&#xE0;o game</h3></a>
                            <a href="/tien-ich/the-cao-dien-thoai"><h3>Th&#x1EBB; c&#xE0;o &#x111;i&#x1EC7;n tho&#x1EA1;i</h3></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>